html{
    font-size: 62.5%;
}
body{
    font-size:1.6rem;
    letter-spacing: .05em;
    color: #171717;
    list-style: none;
    /*max-width: 1440px;*/
    margin: 0 auto;
}
li{
    list-style: none;
}

.wrapper{
    margin:70px 120px;
    
}
.section-inner{
    max-width: 1000px;
    padding: 0 100px;
    margin: 0 auto;
}
img{
    width: 100%;
    object-fit: cover;
}
h1{
    font-size: 2.6rem;
}
h2{
    font-size: 6rem;
    margin-bottom: 7rem;
    color: #fff;
}
.link-btn{
    display: block;
    text-align: center;
    width: 23.5rem;
    line-height: 6rem;
    margin: 0 auto 70px;
    background-color:#F7D43F;
    text-decoration: none;
    border-radius: 3rem;
    color: #171717;

}
.text-right{
    text-align: right;
    font-size: 9rem;
    font-weight: bold;
    margin-top:7rem ;
    opacity: 5%;
}
.text-left{
    text-align: left;
    font-size: 9rem;
    font-weight: bold;
    margin-top:7rem ;
    opacity: 5%;
    color: #fff;
}

/*header*/
.header{
    padding: 1.9rem 3rem;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    box-sizing: border-box;
    transition: .3s;
}
.header-inner{
    /*max-width: 1200px;*/
    margin: 20px 120px 0;
    display: flex;
    justify-content: space-between;
}
/*.header.fixed{
    position: fixed;
    background-color: #282f35;
    padding: 3rem;
    width: 100%;
    transition: .3s;
}
*/
.header a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    transition: .3s;
}
.header a:hover{
    opacity: .7;
    transition: .3s;
}
.header-nav ul{
    display: flex;
    list-style: none;
}
.header-nav li{
    padding:0 1.5rem;
}
.burger-btn{
    display: none;
}

.page-title{
    background-image: url(../img/works-bgi@2x.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 450px;
}
.page-title h2{
    display: block;
    position: relative;
    left: 40%;
    top: 40%;
    
}
.text-left{
    position: relative;
    top:25%;
}

/*form*/
  .form-wrapper{
    padding: 100px 0 80px;
  }
  .form-list{
    max-width: 700px;
    margin: 0 auto 80px;
    padding: 0 50px;
  }
  .form-item{
    margin-bottom: 25px;
  }
  .form-item:last-of-type{
    margin-bottom: 0;
  }
  .form-label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .form-item::marker{
      list-style: none;
  }
  input,textarea{
    resize: none;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: 1px solid #141414;
    width: 100%;

  }
  .input-text{
    color: #171717;
    padding: 0px 8px;
    line-height: 30px;
    box-sizing: border-box;
  }
  .textarea{
    height: 171px;
    color: #171717;
    padding: 0px 8px;
    line-height: 30px;
    box-sizing: border-box;
  }
  .checkbox-list{
    display: flex;
  }
  .checkbox-item{
    margin-right: 20px;
  }
  .checkbox-item label,
  .check-box{
    cursor: pointer;
  }
  .check-box{
    border: #282f35 1px solid;
    height: 10px;
    width: 10px;
    margin-right: 10px;
  }
  .check-box:checked{
    background-color: #333;
  }

  .submit-btn{
    display: block;
    width: 235px;
    line-height: 60px;
    margin: 0 auto 70px;
    background-color: #f7d43f;
    box-shadow: 0 0 6px #1b1310;
    border-radius: 30px;
    text-align: center;
    color: #171717;
    font-weight: bold;
    text-decoration: none;
    transition: .3s;
    outline: none;
    appearance: none;
    border: none;
  }
  .submit-btn:hover{
    opacity: .7;
    transition: .3s;
    cursor: pointer;
  }
 
 
 
 /* ---------------------------- */
 /* footer
 /* ---------------------------- */
 .footer{
   padding: 30px 0;
   text-align: center;
   font-size: 1.4rem;
   font-weight: bold;
   color: #282F35;
 }
 
 @media screen and (max-width:768px){
   /* ---------------------------- */
   /* base_sp
   /* ---------------------------- */
   
  
 
   /* ---------------------------- */
   /* header_sp
   /* ---------------------------- */
   .header{
     padding: 30px 4vw 0;
   }
   .header-nav{
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100vh;
     background-color: #282F35;
   }
   .nav-list{
     height: 100%;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
   .nav-item{
     margin: 0 0 30px;
   }
   .nav-item:last-of-type{
     margin-bottom: 0;
   }
 
   .burger-btn{
     display: block;
     position: absolute;
     top: 30px;
     right: 4vw;
   }
   .burger-btn .bar{
     display: block;
     height: 3px;
     width: 30px;
     background-color: #fff;
   }
   .bar_top{
     margin-bottom: 8px;
   }
   .bar_mid{
     margin-bottom: 8px;
   }
   
   /* ハンバーガーメニューが開いたとき */
   .burger-btn.cross .bar_top{
     transform: rotate(45deg) translate(8px,8px);
     transition: .3s;
   }
   .burger-btn.cross .bar_mid{
     opacity: 0;
     transition: .3s;
   }
   .burger-btn.cross .bar_bottom{
     transform: rotate(-45deg) translate(8px,-8px);
     transition: .3s;
   }
   body.noscroll{
     overflow: hidden;
   }
 
   button{
     background-color: transparent;
     border: none;
     cursor: pointer;
     outline: none;
     padding: 0;
     appearance: none;
   }

   /* ---------------------------- */
   /* header_sp
   /* ---------------------------- */
   .checkbox-list{
     display: block;
   }
   .checkbox-item{
     margin-right: 0;
   }

}    
